li.widget-container > h3.widget-title { background: #f0f0f0; border-bottom: 3px solid #c0c0c0;
    padding: 5px 5px 2px 10px; }
dl > dd { padding-bottom: 10px; margin-left: 0; }

body { background: #006760 url(../images/top-bg.png) repeat-x; height: 300px; color: #444; }
.hero-unit { background: none; margin-top: 5px; color: #006760; padding: 60px 0 30px 0; }
.hero-unit > img { float: left; position: relative; top: 13px; }
.hero-unit > h1 { color: white; }

.tabs li.current_page_item a { background-color: #cefaf6; }
.tabs li a:hover { background-color: transparent; }

a { color: #006760; }
a:hover { color: #a66d00; }
.post_content { padding: 0; }
.page-header { border-bottom: 0; margin-bottom: 8px; }
.well { margin-bottom: 10px; background-color: #ffcf73; }

footer { background-color: #e4fcfa; border-top: 1px solid #4dc6cb; height: 100px; }

.highlight { background: #fff2d9; }

.cloud-banner { background: transparent url(../images/clouds.png) no-repeat; 
    width: 280px; height: 280px; padding: 15px; }
